<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" [formGroup]="formulario" (ngSubmit)="registrarUsuario()" autocomplete="off">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('nombre').hasError('required') && (formulario.get('nombre').dirty || formulario.get('nombre').touched)">Este campo es requerido</p>
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('nombre').hasError('minLength')">El nombre debe tener mas de 3 caracteres</p>
                    </div>
                </div>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="apellido" placeholder="Apellido">
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('apellido').hasError('required') && (formulario.get('apellido').dirty || formulario.get('apellido').touched)">Este campo es requerido</p>
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('apellido').hasError('minLength')">El apellido debe tener mas de 3 caracteres</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="email" placeholder="Email">
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('email').hasError('required') && (formulario.get('email').dirty || formulario.get('email').touched)">Este campo es requerido</p>
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('email').hasError('email') && (formulario.get('email').dirty || formulario.get('email').touched)">Email no valido</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password" placeholder="Password">
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('password').hasError('required') && (formulario.get('password').dirty || formulario.get('password').touched)">Este campo es requerido</p>
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="checkPassword()">Las contraseñas no son iguales</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirmar Password">
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="checkPassword()">Las contraseñas no son iguales</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="terminos">
                            <label for="checkbox-signup"> Acepto todos los <a href="#">Terminos</a></label>
                        </div>
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formulario.get('terminos').hasError('required') && (formulario.get('terminos').dirty || formulario.get('terminos').touched)">Los terminos son requeridos</p>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="formulario.invalid">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Tiene una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Sign In</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
