<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text" class="form-control" placeholder="Buscar Hospitales" #txtTermino (keyup)="search(txtTermino.value)" />

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button class="btn btn-success" routerLink="form">
                        <i class="fa fa-hospital-o"></i>
                        Agregar Medico
                    </button>
                </div>

                <h4 class="card-title">Medicos </h4>
                <h5 class="card-subtitle">Total Medicos ({{ totalMedicos }}) </h5>
                <h6 class="card-subtitle">Medicos registrados en la aplicacion</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Hospital</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicosList">
                                <td class="text-center"><img [src]="medico.img | imagen: 'medicos'" alt="hospital.nombre" class="w50 cursor" (click)="abrirModal(medico)" /></td>
                                <td>{{ medico.nombre }}</td>
                                <td>{{ medico.apellido }}</td>
                                <td>{{ medico.hospital.nombre }}</td>
                                <td class="text-nowrap">
                                    <a data-toggle="tooltip" data-original-title="Guardar" [routerLink]="['form', medico._id]"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar" (click)="eliminar(medico._id)"> <i class="fa fa-close text-danger"></i> </a>
                                </td>                           
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button  class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button  class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>
